@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Campus de Rimouski<br />
    300, allée des Ursulines, C.P.3300, succ. A<br />
    <abbr title="Phone">P:</abbr>
    418 723-1986<br/>
</address>

<address>
    <strong>Support:</strong> <a href="uqar@uqar.ca">uqar@uqar.ca</a><br />
    <strong>Marketing:</strong> <a href="Emile.Bosse@uqar.ca">Emile.Bosse@uqar.ca</a>
</address>
